@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  min-height: 100vh;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  background: rgb(0, 10, 31);
  background: linear-gradient(
    90deg,
    rgba(0, 10, 31, 1) 0%,
    rgba(0, 9, 28, 1) 31%,
    rgba(0, 21, 47, 1) 100%
  );
  @apply text-gray-500;
}
